.box.panel.panel-default
  .img-box.center-block
    = link_to (image_tag "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"), "#"
  .panel-body
    %h2= link_to repo.name, repo.url
    %p.description= repo.description
    %p.user.red-color Last Commit:
    %p.message= "\"#{repo.commit_message}\""
    %p.date= repo.commit_date
