!!! 5
%html(lang="en-US")
  %head
    %title Cullen Jett - Web Developer
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="Cullen Jett | Ruby on Rails Developer in Denver")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:600' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/cj-logo.png"/>
    - if Rails.env.production?
      = render 'shared/analyitics'
  %body
    = render 'shared/navigation'
    = yield
    = render 'shared/footer'
